.settings
.gradle
.classpath
.project
bin
bin/conifer
bin/conifer/Main.class
results
build
pairContact.txt
tree.nwk.txt
src/main/resources/conifer/sampleInput/FES.ape.4.nwk
src/main/resources/conifer/sampleInput/FES.ape.8.nwk
src/main/resources/conifer/sampleInput/FES_4.fasta
src/main/resources/conifer/sampleInput/FES_4.g.fasta
src/main/resources/conifer/sampleInput/FES_8.fasta
src/main/resources/conifer/sampleInput/FES_8.g.fasta
src/main/resources/conifer/sampleInput/UTY.ape.4.nwk
src/main/resources/conifer/sampleInput/UTY_4.fasta
src/main/resources/conifer/sampleInput/UTY_4.g.fasta

.DS_Store